h2#delicious {
    margin-top: -10px;
}

h2#food {
    margin-top: -40px;
}

h3.posted {
    margin-top: -40px;
}

body {
    margin: auto;
    width: 960px;
}

.clearfix {
    clear: both;
}

header {
    margin-top: 35px;
}

.logo {
    float: left;
    margin-right: 10px;
    margin-top: -30px;
}

.title {
    margin-top: -5px;
    float: left;
}

#delicious {
    margin-left: -6px;
    font-family: Yellowtail;
    font-weight: bold;
    font-size: 40px;
}

#food {
    font-size: 10px;
    font-family: arial;
}

.icons {
    float: right;
    margin-top: 0px;
}

.icons ul li {
    display: inline-block;
    margin-left: -2px;
}

.icons ul li:nth-child(5) {
    margin-left: -3px;
    margin-right: -1px;
}

.icons ul li:nth-child(6) {
    margin-right: 8px;
}

h2#delicious {
    margin-top: -35px;
}

ul {
    margin-top: -35px;
}

.divider {
    display: block;
    margin-top: 30px;
    margin-bottom: -20px;
    height: 13px;
    width: 100%;
    background-image: repeating-linear-gradient(-45deg, white, white 1px, #bfb8be 1px, #bfb8be 2px);
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Oswald';
    display: block;
    margin-bottom: -20px;
}

#posted {
    display: block;
    float: left;
    font-size: 12px;
    font-family: arial;
    color: #bfb8be;
    margin-top: 12px;
}

.print {
    float: right;
    font-size: 12px;
    font-family: arial;
    margin-top: 12px;
    margin-left: 2px;
    color: #bfb8be;
}

#choco {
    width: 960px;
    margin-top: 32px;
}

article p {
    margin-top: 30px;
    text-indent: 30px;
    line-height: 25px;
    font-size: 21px;
    color: #332a28;
}

.recipe {
    position: relative;
    margin-top: 30px;
    font-family: cursive;
    font-size: 20px;
    color: #48402c;
    line-height: 33px;
}

input {
    margin-right: 10px;
}

.recipe img {
    width: 960px;
}

.list-left {
    position: absolute;
    top: 41px;
    left: 60px;
}

.list-right {
    width: 400px;
    position: absolute;
    top: 41px;
    left: 490px;
}

.bottom {
    margin-top: 40px;
    margin-bottom: 20px;
}

.author {
    margin-top: 30px;
    margin-bottom: 60px;
}

.author h3 {
    font-size: 22px;
    font-weight: bolder;
}

.author img {
    float: left;
    margin-right: 20px;
}

.author p {
    font-size: 20px;
    color: #332a28;
    line-height: 25px;
    margin-top: 10px;
    width: 600px;
    float: left;
}

button {
    margin-top: -15px;
    float: right;
    background-color: #bc7058;
    font-size: 20px;
    font-family: arial;
    letter-spacing: -1px;
    color: white;
    border: none;
    width: 180px;
    height: 55px;
}

footer {
    margin-top: 140px;
    margin-bottom: 80px;
    text-align: center;
}

.halfline {
    display: inline-block;
    width: 47%;
    height: 1px;
    vertical-align: 85%;
    background-color: #bfb8be;
}

footer img {
    display: inline-block;
}

footer p {
    margin-top: 30px;
    line-height: 22px;
    color: #bfb8be;
}